<div class="container">
  <button type="button" id='buy'>AJAX Buy</button>
  <div id='boardData' data-board='<%=@board.to_json%>' data-hand='<%=@player.hand.to_json%>'></div>
  <div id="boardDiv">
    <div class="row" id='boardRow'>
    </div>
  </div>
</div>
<div id="playerDiv">
  <div id='titleDiv'>
    <h1><%=@player.name%></h1>
    <h3>Victory Points: <%=@player.total_victory_points%></h3>
    <h3 id='phaseText'>Action Phase</h3>
  </div>
  <div class="row">
    <div class="col-md-10 row" id="handDiv">
    </div>
    <div class="col-md-2" id='statsDiv'>
      <h4 id='moneyText'></h4>
      <h4 id='actText'>Actions: 1</h4>
      <h4 id='buyText'>Buys: 1</h4>
      <button type="button" id='endAct' name="button" class="btn btn-danger">End Action Phase</button>

      <form class="" action="/<%= @next_player %>" method="post">
        <input type="hidden" name="last_player" value="<%=@player.player_num%>">
        <button type="submit" id='endTurn' name="button" class="btn btn-danger">End Turn</button>
      </form>
    </div>
  </div>
</div>
